<!DOCTYPE HTML>
<!--
	Alpha by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Altruismus - About</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie8.css" /><![endif]-->
	</head>
	<body>
		<div id="page-wrapper">

			<!-- Header -->
				<header id="header">
					<h1><a href="index">Altruismus</a></h1> 
					<nav id="nav">
						<ul>
							<li><a href="index">Home</a></li>
							<li><a href="contact">Contact</a></li>
							<li><a href="oview">Sample organization Profile</a></li>
							<li><a href="login" class="button">Login</a></li>
						</ul>
					</nav>
				</header>

			<!-- Main -->
				<section id="main" class="container">
					<header>
						<h2>About Us</h2>
						<p>Bridging the gap so you can serve, <i>easily.</i></p>
					</header>
					<div class="box">
						<span class="image featured"><img src="css/images/img9.jpg" alt="" /></span>
						<h3>What is  A L T R U I S M U S?</h3>
						<p>ALTRUISMUS is an app that bridges the gap between volunteers and organizations. 
						   We make it easy for you to communicate with each other and to find new opportunities
						   to make the world a better place. Altruismus is dedicated to giving you the straightest and easiest path
								to serving a cause that's close to your heart. You can even specify the type of service you're interested in, be it religious work, helping the homeless,
								or recycling initiatives.</p>
						<div class="row">
							<div class="6u 12u(mobilep)">
								<h3>For Organizations</h3>
								<li>Access to a larger pool of volunteers</li>
								<li>Higher levels of enthusiasm</li>
								<li>Higher rate of volunteers returning</li>
								<li>Convenient collection of donations</li>
							</div>
							<div class="6u 12u(mobilep)">
								<h3>For Volunteers</h3>
								<li>Save time searching for volunteering opportunities</li>
								<li>See what opportunities are available near you anytime</li>
								<li>Get push notifications to remind you about upcoming events</li>
							</div>
						</div>
					</div>
					
					<span class="image fit"><img src="css/images/img3.jpg" alt="" /></span>
					<section class="box special features">
						<div class="features-row">
							<section>
								<h2><b>0 0 0 0 1 5</b></h2>
								<p> VOLUNTEERS
								</br>REACHED</p>
							</section>
							<section>
								<h2><b>0 0 0 0 1 0</b></h2>
								<p> ORGANIZATIONS </br> REACHED</p>
							</section>
							
						</div>

					</section>
					
				</section>
				
				

			<!-- Footer -->
				<footer id="footer">
					<ul class="icons">
						<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>
						<li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
						<li><a href="#" class="icon fa-google-plus"><span class="label">Google+</span></a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; Untitled. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
					</ul>
				</footer>

		</div>

		<!-- Scripts -->
			<script src="js/jquery.min.js"></script>
			<script src="js/jquery.dropotron.min.js"></script>
			<script src="js/jquery.scrollgress.min.js"></script>
			<script src="js/skel.min.js"></script>
			<script src="js/util.js"></script>
			<!--[if lte IE 8]><script src="js/ie/respond.min.js"></script><![endif]-->
			<script src="js/main.js"></script>

	</body>
</html>