<!DOCTYPE HTML>
<!--
	Alpha by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Altruismus - About</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie8.css" /><![endif]-->
	</head>
	<body>
		<div id="page-wrapper">

			<!-- Header -->
				<header id="header">
					<h1><a href="index">Altruismus</a></h1> 
					<nav id="nav">
						<ul>
							<li><a href="index">Home</a></li>
							<li><a href="about">About Us</a></li>
							<li><a href="contact">Contact</a></li>
							<li><a href="oview">Sample organization Profile</a></li>
							<li><a href="login" class="button">Login</a></li>
						</ul>
					</nav>
				</header>

			<!-- Main -->
				<section id="main" class="container">
					<header>
						<h2>About Us</h2>
						<p>Bridging the gap so you can serve, <i>easily.</i></p>
					</header>
					<div class="box">
						<span class="image featured"><img src="images/img9.jpg" alt="" /></span>
						<h3>What is  A L T R U I S M U S?</h3>
						<p>ALTRUISMUS is an app that bridges the gap between volunteers and organizations. 
						   We make it easy for you to communicate with each other and to find new opportunities
						   to make the world a better place.</p>
						<div class="row">
							<div class="6u 12u(mobilep)">
								<h3>For Organizations</h3>
								<ul>Access to a larger pool of volunteers</ul>
								<ul>Higher levels of enthusiasm</ul>
								<ul>Higher rate of volunteers returning</ul>
								<ul>Convenient collection of donations</ul>
							</div>
							<div class="6u 12u(mobilep)">
								<h3>For Volunteers</h3>
								<ul>Save time searching for volunteering opportunities</ul>
								<ul>See what opportunities are available near you anytime</ul>
								<ul>Get push notifications to remind you about upcoming events</ul>
							</div>
						</div>
					</div>
					
					<section class="box special features">
						<div class="features-row">
							<section>
								<h2><b>0 0 0 0 1 5</b></h2>
								<p> VOLUNTEERS
								</br>REACHED</p>
								<ul class="actions">
									<li><a href="vsignup" class="button special">SIGN UP</a></li>
								</ul>
							</section>
							<section>
								<h2>0 0 0 0 1 0</h2>
								<p> ORGANIZATIONS
								</br>REACHED</p>
								<ul class="actions">
									<li><a href="osignup" class="button special">SIGN UP</a></li>
								</ul>
							</section>
						</div>

					</section>
				</section>
				
				

			<!-- Footer -->
				<footer id="footer">
					<ul class="icons">
						<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>
						<li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
						<li><a href="#" class="icon fa-google-plus"><span class="label">Google+</span></a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; Untitled. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
					</ul>
				</footer>

		</div>

		<!-- Scripts -->
			<script src="js/jquery.min.js"></script>
			<script src="js/jquery.dropotron.min.js"></script>
			<script src="js/jquery.scrollgress.min.js"></script>
			<script src="js/skel.min.js"></script>
			<script src="js/util.js"></script>
			<!--[if lte IE 8]><script src="js/ie/respond.min.js"></script><![endif]-->
			<script src="js/main.js"></script>

	</body>
</html>