<!DOCTYPE HTML>
<!--
	Alpha by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Elements - Alpha by HTML5 UP</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie8.css" /><![endif]-->
	</head>
	<body>
		<div id="page-wrapper">

			<!-- Header -->
				<header id="header">
					<h1><a href="#">Altruismus</a></h1> 
					<nav id="nav">
						<ul>
							<li><a href="contact">Contact</a></li>
							<li><a href="logout" class="button">Logout</a></li>
						</ul>
					</nav>
				</header>

			<!-- Main -->
				<section id="main" class="container">
					<header>
						<h2>Welcome, <em>Volunteer</em>!</h2>
						<p>Ready to volunteer?</p>
					</header>
					<div class="row">
						<div class="12u">

							<!-- Table -->
								<section class="box">
									<h3>My Events</h3>
									<div class="table-wrapper">
										<table>
											<thead>
												<tr>
													<th>Event</th>
													<th>Date</th>
													<th>Time</th>
													<th>Location</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>Soup Kitchen Week 1</td>
													<td>04/15/2017</td>
													<td>14:00 to 16:00</td>
													<td>Old Campus</td>
													<td> 
														<div class="row uniform">
															<div class="12u">
																<ul class="actions">
																	<li><input type="submit" class="button small" value="Edit Event" /></li>
																	<li><input type="reset" class="button alt small" value="Delete" class="alt" /></li>
																</ul>
															</div>
														</div>
													</td>
												</tr>
												<tr>
													<td>Famine Camp</td>
													<td>04/20/2017</td>
													<td>10:00 to 13:00</td>
													<td>East Rock</td>
													<td> 
														<div class="row uniform">
															<div class="12u">
																<ul class="actions">
																	<li><input type="submit" class="button small" value="Edit Event" /></li>
																	<li><input type="reset" class="button alt small" value="Delete" class="alt" /></li>
																</ul>
															</div>
														</div>
													</td>
												</tr>
												<tr>
													<td>Soup Kitchen Week 2</td>
													<td>04/25/2017</td>
													<td>14:00 to 16:00</td>
													<td>Old Campus</td>
													<td> 
														<div class="row uniform">
															<div class="12u">
																<ul class="actions">
																	<li><input type="submit" class="button small" value="Edit Event" /></li>
																	<li><input type="reset" class="button alt small" value="Delete" class="alt" /></li>
																</ul>
															</div>
														</div>
													</td>
												</tr>
												
													<tr>
													<td>Soup Kitchen Week 3</td>
													<td>04/15/2017</td>
													<td>14:00 to 16:00</td>
													<td>Old Campus</td>
													<td> 
														<div class="row uniform">
															<div class="12u">
																<ul class="actions">
																	<li><input type="submit" class="button small" value="Edit Event" /></li>
																	<li><input type="reset" class="button alt small" value="Delete" class="alt" /></li>
																</ul>
															</div>
														</div>
													</td>
												</tr>
			
											</tbody>
										</table>
									</div>
									<div class="row uniform">
										<div class="12u">
											<ul class="actions align-center">
												<li><a href="find-new-event" class="button special">Add Event</a></li>
											</ul>
										</div>
									</div>

								</section>

						</div>
					</div>
			
			<!-- Footer -->
				<footer id="footer">
					<ul class="icons">
						<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>
						<li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
						<li><a href="#" class="icon fa-google-plus"><span class="label">Google+</span></a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; Untitled. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
					</ul>
				</footer>

		</div>

		<!-- Scripts -->
			<script src="js/jquery.min.js"></script>
			<script src="js/jquery.dropotron.min.js"></script>
			<script src="js/jquery.scrollgress.min.js"></script>
			<script src="js/skel.min.js"></script>
			<script src="js/util.js"></script>
			<!--[if lte IE 8]><script src="js/ie/respond.min.js"></script><![endif]-->
			<script src="js/main.js"></script>

	</body>
</html>