/*body 						{ padding-top:50px;}*/
/*.container */
.jumbotron   	{ 
border-radius:100px;
    background-color: black;
}

    body {
    background-image: url("http://hd-wall-papers.com/images/wallpapers/backgrounds-white/backgrounds-white-19.png");
    background-repeat: no-repeat;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: DarkGrey;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

h1 {
    text-align: center;
    color: white;
}

p {
    font-family: "Georgia", Georgia, serif;
    text-align: center;
}

.btn-primary
{
    font-family: "Verdana", Verdana, sans-serif;
    padding: 10px 50px;
    
    background-color: black;
    color: white;
    border: 2px solid #FFFFFF;
}

.btn-primary:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}
